In [120]:
import pandas as pd

df = pd.read_csv('glws.csv')
df

,date,game_num,day_of_week,v_team,v_league,v_game_num,h_team,h_league,h_game_num,v_score,...,h_player_7_name,h_player_7_pos,h_player_8_id,h_player_8_name,h_player_8_pos,h_player_9_id,h_player_9_name,h_player_9_pos,additional_info,acquisition_info
0,20241025,0,Fri,NYA,AL,1,LAN,NL,1,3,...,Will Smith,2,lux-g001,Gavin Lux,4,edmat001,Tommy Edman,6,NaN,Y
1,20241026,0,Sat,NYA,AL,2,LAN,NL,2,2,...,Max Muncy,5,smitw003,Will Smith,2,rojam002,Miguel Rojas,6,NaN,Y
2,20241028,0,Mon,LAN,NL,3,NYA,AL,3,4,...,Anthony Rizzo,3,trevj001,Jose Trevino,2,verda001,Alex Verdugo,7,NaN,Y
3,20241029,0,Tue,LAN,NL,4,NYA,AL,4,4,...,Anthony Volpe,6,wella002,Austin Wells,2,verda001,Alex Verdugo,7,NaN,Y
4,20241030,0,Wed,LAN,NL,5,NYA,AL,5,7,...,Anthony Volpe,6,wella002,Austin Wells,2,verda001,Alex Verdugo,7,NaN,Y

In [121]:

df['h_team_wins'] = (df['h_score'] > df['v_score']).astype(int)
df.head()

,date,game_num,day_of_week,v_team,v_league,v_game_num,h_team,h_league,h_game_num,v_score,...,h_player_7_pos,h_player_8_id,h_player_8_name,h_player_8_pos,h_player_9_id,h_player_9_name,h_player_9_pos,additional_info,acquisition_info,h_team_wins
0,20241025,0,Fri,NYA,AL,1,LAN,NL,1,3,...,2,lux-g001,Gavin Lux,4,edmat001,Tommy Edman,6,NaN,Y,1
1,20241026,0,Sat,NYA,AL,2,LAN,NL,2,2,...,5,smitw003,Will Smith,2,rojam002,Miguel Rojas,6,NaN,Y,1
2,20241028,0,Mon,LAN,NL,3,NYA,AL,3,4,...,3,trevj001,Jose Trevino,2,verda001,Alex Verdugo,7,NaN,Y,0
3,20241029,0,Tue,LAN,NL,4,NYA,AL,4,4,...,6,wella002,Austin Wells,2,verda001,Alex Verdugo,7,NaN,Y,1
4,20241030,0,Wed,LAN,NL,5,NYA,AL,5,7,...,6,wella002,Austin Wells,2,verda001,Alex Verdugo,7,NaN,Y,0

In [122]:
columns_to_drop = [
    'date', 'game_num','completion_info','forfeit_info','protest_info', 'day_of_week', 'attendance', 
    'additional_info', 'h_score', 'v_score','length_in_outs','time_of_game_min','v_line_score', 'h_line_score',
    'v_manager_id',	'v_manager_name','h_manager_id','h_manager_name',
    'hp_umpire_id', 'hp_umpire_name',
    '1b_umpire_id', '1b_umpire_name',
    '2b_umpire_id', '2b_umpire_name',
    '3b_umpire_id', '3b_umpire_name',
    'lf_umpire_id', 'lf_umpire_name',
    'rf_umpire_id', 'rf_umpire_name',
    'winning_pitcher_id', 'winning_pitcher_name',
    'losing_pitcher_id', 'losing_pitcher_name',
    'saving_pitcher_id', 'saving_pitcher_name',
    'v_at_bats','v_hits','v_doubles','v_triples','v_homeruns','v_rbi','v_sacrifice_hits','v_sacrifice_flies',
    'v_hit_by_pitch','v_walks','v_intentional_walks','v_strikeouts','v_stolen_bases','v_caught_stealing',
    'v_grounded_into_dp','v_catcher_interference','v_left_on_base','v_pitchers_used','v_individual_earned_runs',
    'v_team_earned_runs','v_wild_pitches','v_balks','v_putouts','v_assists','v_errors','v_passed_balls',
    'v_double_plays','v_triple_plays','h_at_bats','h_hits','h_doubles','h_triples','h_homeruns','h_rbi',
    'h_sacrifice_hits','h_sacrifice_flies','h_hit_by_pitch','h_walks','h_intentional_walks','h_strikeouts',
    'h_stolen_bases','h_caught_stealing','h_grounded_into_dp','h_catcher_interference','h_left_on_base',
    'h_pitchers_used','h_individual_earned_runs','h_team_earned_runs','h_wild_pitches','h_balks','h_putouts',
    'h_assists','h_errors','h_passed_balls','h_double_plays','h_triple_plays', 'gwrbi_batter_id','gwrbi_batter_name','acquisition_info'
]

df = df.drop(columns=columns_to_drop)

df.head()

,v_team,v_league,v_game_num,h_team,h_league,h_game_num,day_night,park_id,v_starting_pitcher_id,v_starting_pitcher_name,...,h_player_7_id,h_player_7_name,h_player_7_pos,h_player_8_id,h_player_8_name,h_player_8_pos,h_player_9_id,h_player_9_name,h_player_9_pos,h_team_wins
0,NYA,AL,1,LAN,NL,1,N,LOS03,coleg001,Gerrit Cole,...,smitw003,Will Smith,2,lux-g001,Gavin Lux,4,edmat001,Tommy Edman,6,1
1,NYA,AL,2,LAN,NL,2,N,LOS03,rodoc001,Carlos Rodon,...,muncm001,Max Muncy,5,smitw003,Will Smith,2,rojam002,Miguel Rojas,6,1
2,LAN,NL,3,NYA,AL,3,N,NYC21,buehw001,Walker Buehler,...,rizza001,Anthony Rizzo,3,trevj001,Jose Trevino,2,verda001,Alex Verdugo,7,0
3,LAN,NL,4,NYA,AL,4,N,NYC21,caspb001,Ben Casparius,...,volpa001,Anthony Volpe,6,wella002,Austin Wells,2,verda001,Alex Verdugo,7,1
4,LAN,NL,5,NYA,AL,5,N,NYC21,flahj002,Jack Flaherty,...,volpa001,Anthony Volpe,6,wella002,Austin Wells,2,verda001,Alex Verdugo,7,0

In [123]:
# Remove all columns from df where the column name contains 'id' except for 'park_id' and list them out
cols_with_id = [col for col in df.columns if 'id' in col and col != 'park_id']
print("Columns removed:", cols_with_id)
df = df.drop(columns=cols_with_id)
df.head()

Columns removed: ['v_starting_pitcher_id', 'h_starting_pitcher_id', 'v_player_1_id', 'v_player_2_id', 'v_player_3_id', 'v_player_4_id', 'v_player_5_id', 'v_player_6_id', 'v_player_7_id', 'v_player_8_id', 'v_player_9_id', 'h_player_1_id', 'h_player_2_id', 'h_player_3_id', 'h_player_4_id', 'h_player_5_id', 'h_player_6_id', 'h_player_7_id', 'h_player_8_id', 'h_player_9_id']

,v_team,v_league,v_game_num,h_team,h_league,h_game_num,day_night,park_id,v_starting_pitcher_name,h_starting_pitcher_name,...,h_player_5_pos,h_player_6_name,h_player_6_pos,h_player_7_name,h_player_7_pos,h_player_8_name,h_player_8_pos,h_player_9_name,h_player_9_pos,h_team_wins
0,NYA,AL,1,LAN,NL,1,N,LOS03,Gerrit Cole,Jack Flaherty,...,5,Enrique Hernandez,8,Will Smith,2,Gavin Lux,4,Tommy Edman,6,1
1,NYA,AL,2,LAN,NL,2,N,LOS03,Carlos Rodon,Yoshinobu Yamamoto,...,8,Enrique Hernandez,4,Max Muncy,5,Will Smith,2,Miguel Rojas,6,1
2,LAN,NL,3,NYA,AL,3,N,NYC21,Walker Buehler,Clarke Schmidt,...,5,Anthony Volpe,6,Anthony Rizzo,3,Jose Trevino,2,Alex Verdugo,7,0
3,LAN,NL,4,NYA,AL,4,N,NYC21,Ben Casparius,Luis Gil,...,10,Anthony Rizzo,3,Anthony Volpe,6,Austin Wells,2,Alex Verdugo,7,1
4,LAN,NL,5,NYA,AL,5,N,NYC21,Jack Flaherty,Gerrit Cole,...,10,Anthony Rizzo,3,Anthony Volpe,6,Austin Wells,2,Alex Verdugo,7,0

In [124]:
#park id mapping

# unique_park_ids = df['park_id'].unique()
# print("Unique park IDs:", unique_park_ids)
# park_id_mapping = {pid: idx for idx, pid in enumerate(unique_park_ids)}
# print("Park ID mapping:", park_id_mapping)
# df['park_id'] = df['park_id'].map(park_id_mapping)

In [125]:
# Map 'N' to 0 and 'D' to 1 in the 'day_night' column
df['day_night'] = df['day_night'].map({'N': 0, 'D': 1})
df['day_night'].value_counts()

day_night
0    5
Name: count, dtype: int64

In [126]:
df = df.drop(columns=[ 'v_league', 'h_league','v_game_num', 'h_game_num' ])
df.head()

,v_team,h_team,day_night,park_id,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_1_pos,v_player_2_name,v_player_2_pos,...,h_player_5_pos,h_player_6_name,h_player_6_pos,h_player_7_name,h_player_7_pos,h_player_8_name,h_player_8_pos,h_player_9_name,h_player_9_pos,h_team_wins
0,NYA,LAN,0,LOS03,Gerrit Cole,Jack Flaherty,Gleyber Torres,4,Juan Soto,9,...,5,Enrique Hernandez,8,Will Smith,2,Gavin Lux,4,Tommy Edman,6,1
1,NYA,LAN,0,LOS03,Carlos Rodon,Yoshinobu Yamamoto,Gleyber Torres,4,Juan Soto,9,...,8,Enrique Hernandez,4,Max Muncy,5,Will Smith,2,Miguel Rojas,6,1
2,LAN,NYA,0,NYC21,Walker Buehler,Clarke Schmidt,Shohei Ohtani,10,Mookie Betts,9,...,5,Anthony Volpe,6,Anthony Rizzo,3,Jose Trevino,2,Alex Verdugo,7,0
3,LAN,NYA,0,NYC21,Ben Casparius,Luis Gil,Shohei Ohtani,10,Mookie Betts,9,...,10,Anthony Rizzo,3,Anthony Volpe,6,Austin Wells,2,Alex Verdugo,7,1
4,LAN,NYA,0,NYC21,Jack Flaherty,Gerrit Cole,Shohei Ohtani,10,Mookie Betts,9,...,10,Anthony Rizzo,3,Anthony Volpe,6,Austin Wells,2,Alex Verdugo,7,0

In [127]:
teams = ['LAN','SDN','COL','ARI','WAS','CIN','SLN','PIT','MIA','SFN','ANA','BAL','DET','CHA','NYA','HOU','MIN','KCA','CLE','OAK','BOS','SEA','TOR','TBA','CHN','TEX','MIL','NYN','ATL','PHI']
team_to_num = {team: idx for idx, team in enumerate(teams)}
team_id_df = pd.DataFrame(list(team_to_num.items()), columns=['Team', 'ID'])
display(team_id_df)

   Team  ID
0   LAN   0
1   SDN   1
2   COL   2
3   ARI   3
4   WAS   4
5   CIN   5
6   SLN   6
7   PIT   7
8   MIA   8
9   SFN   9
10  ANA  10
11  BAL  11
12  DET  12
13  CHA  13
14  NYA  14
15  HOU  15
16  MIN  16
17  KCA  17
18  CLE  18
19  OAK  19
20  BOS  20
21  SEA  21
22  TOR  22
23  TBA  23
24  CHN  24
25  TEX  25
26  MIL  26
27  NYN  27
28  ATL  28
29  PHI  29

In [128]:
# Create one-hot encoded columns for each team using team_id_df
one_hot = pd.DataFrame(0, index=df.index, columns=team_id_df['Team'])

for _, row in team_id_df.iterrows():
    team = row['Team']
    team_id = row['ID']
    one_hot.loc[df['v_team'] == team, team] = -1
    one_hot.loc[df['h_team'] == team, team] = 1

one_hot.head()
df_encoded = pd.concat([df, one_hot], axis=1)

In [129]:
# Add columns for each park in park_to_num (if not already present) and set to 0
park_to_num = {'SEO01': 0, 'PHO01': 1, 'CIN09': 2, 'LOS03': 3, 'MIA02': 4, 'SAN02': 5, 'BAL12': 6, 'CHI12': 7, 'HOU03': 8, 'KAN06': 9, 'OAK01': 10, 'SEA03': 11, 'STP01': 12, 'ARL03': 13, 'NYC20': 14, 'PHI13': 15, 'CHI11': 16, 'WAS11': 17, 'MIL06': 18, 'STL10': 19, 'MIN04': 20, 'ATL03': 21, 'DEN02': 22, 'PIT08': 23, 'SFO03': 24, 'ANA01': 25, 'DET05': 26, 'NYC21': 27, 'CLE08': 28, 'TOR02': 29, 'BOS07': 30, 'MEX02': 31, 'LON01': 32, 'BIR01': 33, 'WIL02': 34}

for park in park_to_num.keys():
    if park not in df_encoded.columns:
        df_encoded[park] = 0

df_encoded.head()

,v_team,h_team,day_night,park_id,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_1_pos,v_player_2_name,v_player_2_pos,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,NYA,LAN,0,LOS03,Gerrit Cole,Jack Flaherty,Gleyber Torres,4,Juan Soto,9,...,0,0,0,0,0,0,0,0,0,0
1,NYA,LAN,0,LOS03,Carlos Rodon,Yoshinobu Yamamoto,Gleyber Torres,4,Juan Soto,9,...,0,0,0,0,0,0,0,0,0,0
2,LAN,NYA,0,NYC21,Walker Buehler,Clarke Schmidt,Shohei Ohtani,10,Mookie Betts,9,...,0,0,0,0,0,0,0,0,0,0
3,LAN,NYA,0,NYC21,Ben Casparius,Luis Gil,Shohei Ohtani,10,Mookie Betts,9,...,0,0,0,0,0,0,0,0,0,0
4,LAN,NYA,0,NYC21,Jack Flaherty,Gerrit Cole,Shohei Ohtani,10,Mookie Betts,9,...,0,0,0,0,0,0,0,0,0,0

In [130]:
for idx, row in df_encoded.iterrows():
    park = row['park_id']
    if park in df_encoded.columns:
        df_encoded.at[idx, park] = 1

In [131]:
df_encoded = df_encoded.drop(columns=['v_team', 'h_team', 'park_id'])
df_encoded

,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_1_pos,v_player_2_name,v_player_2_pos,v_player_3_name,v_player_3_pos,v_player_4_name,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,0,Gerrit Cole,Jack Flaherty,Gleyber Torres,4,Juan Soto,9,Aaron Judge,8,Giancarlo Stanton,...,0,0,0,0,0,0,0,0,0,0
1,0,Carlos Rodon,Yoshinobu Yamamoto,Gleyber Torres,4,Juan Soto,9,Aaron Judge,8,Giancarlo Stanton,...,0,0,0,0,0,0,0,0,0,0
2,0,Walker Buehler,Clarke Schmidt,Shohei Ohtani,10,Mookie Betts,9,Freddie Freeman,3,Teoscar Hernandez,...,0,0,1,0,0,0,0,0,0,0
3,0,Ben Casparius,Luis Gil,Shohei Ohtani,10,Mookie Betts,9,Freddie Freeman,3,Teoscar Hernandez,...,0,0,1,0,0,0,0,0,0,0
4,0,Jack Flaherty,Gerrit Cole,Shohei Ohtani,10,Mookie Betts,9,Freddie Freeman,3,Teoscar Hernandez,...,0,0,1,0,0,0,0,0,0,0

In [132]:

df = df_encoded

In [133]:
df = df[['h_team_wins'] + [col for col in df.columns if col != 'h_team_wins']]
df.head()

,h_team_wins,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_1_pos,v_player_2_name,v_player_2_pos,v_player_3_name,v_player_3_pos,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,1,0,Gerrit Cole,Jack Flaherty,Gleyber Torres,4,Juan Soto,9,Aaron Judge,8,...,0,0,0,0,0,0,0,0,0,0
1,1,0,Carlos Rodon,Yoshinobu Yamamoto,Gleyber Torres,4,Juan Soto,9,Aaron Judge,8,...,0,0,0,0,0,0,0,0,0,0
2,0,0,Walker Buehler,Clarke Schmidt,Shohei Ohtani,10,Mookie Betts,9,Freddie Freeman,3,...,0,0,1,0,0,0,0,0,0,0
3,1,0,Ben Casparius,Luis Gil,Shohei Ohtani,10,Mookie Betts,9,Freddie Freeman,3,...,0,0,1,0,0,0,0,0,0,0
4,0,0,Jack Flaherty,Gerrit Cole,Shohei Ohtani,10,Mookie Betts,9,Freddie Freeman,3,...,0,0,1,0,0,0,0,0,0,0

In [134]:
# Remove all columns from df whose names contain 'pos'
df = df.loc[:, ~df.columns.str.contains('pos')]
df.head()

,h_team_wins,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,v_player_5_name,v_player_6_name,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,1,0,Gerrit Cole,Jack Flaherty,Gleyber Torres,Juan Soto,Aaron Judge,Giancarlo Stanton,Jazz Chisholm,Anthony Rizzo,...,0,0,0,0,0,0,0,0,0,0
1,1,0,Carlos Rodon,Yoshinobu Yamamoto,Gleyber Torres,Juan Soto,Aaron Judge,Giancarlo Stanton,Jazz Chisholm,Anthony Rizzo,...,0,0,0,0,0,0,0,0,0,0
2,0,0,Walker Buehler,Clarke Schmidt,Shohei Ohtani,Mookie Betts,Freddie Freeman,Teoscar Hernandez,Max Muncy,Will Smith,...,0,0,1,0,0,0,0,0,0,0
3,1,0,Ben Casparius,Luis Gil,Shohei Ohtani,Mookie Betts,Freddie Freeman,Teoscar Hernandez,Max Muncy,Enrique Hernandez,...,0,0,1,0,0,0,0,0,0,0
4,0,0,Jack Flaherty,Gerrit Cole,Shohei Ohtani,Mookie Betts,Freddie Freeman,Teoscar Hernandez,Max Muncy,Enrique Hernandez,...,0,0,1,0,0,0,0,0,0,0

In [135]:
df.to_csv('glws_cleaned.csv', index=False)

In [136]:


df1 = pd.read_csv('bat_cleaned.csv')
df2 = pd.read_csv('pitch_cleaned.csv')
df3 = pd.read_csv('glws_cleaned.csv')

In [137]:
import unicodedata

def normalize_name(name):
    # Remove 'Jr.', strip, and reverse if comma present
    name = ' '.join(name.replace('Jr.', '').strip().split(', ')[::-1]).strip()
    # Normalize unicode to closest ASCII
    name = unicodedata.normalize('NFKD', name).encode('ascii', 'ignore').decode('utf-8')
    return name

df1['player_name'] = df1['player_name'].apply(normalize_name)
df2['player_name'] = df2['player_name'].apply(normalize_name)

# df1.head()
# df2.head()

In [138]:
# Define the mapping dictionary for name transformations
name_mapping = {
    'C. J. Abrams': 'CJ Abrams',
    'Michael Harris': 'Michael Harris II',
    'Josh Palacios': 'Joshua Palacios',
    'Gerardo Perdomo': 'Geraldo Perdomo',
    'Giovanny Urshela': 'Gio Urshela',
    'Yulieski Gurriel': 'Yuli Gurriel',
    'Michael Taylor': 'Michael A. Taylor',
    'Victor Scott': 'Victor Scott II',
    'Mike Siani': 'Michael Siani',
    'J. P. Martinez': 'J.D. Martinez',
    'Louie Varland': 'Louis Varland',
    'Mike Soroka': 'Michael Soroka',
    'J. P. France': 'J.P. France',
    'Daniel Lynch': 'Daniel Lynch IV',
    'Luis Ortiz': 'Luis F. Ortiz',
    'Matt Boyd': 'Matthew Boyd',
    'J. T. Ginn': 'J.T. Ginn',
    'Darren Scott McCaughan': 'Darren McCaughan',
    'Jake Junis': 'Jakob Junis'
}

# List of columns to update
columns_to_update = [
    'v_starting_pitcher_name', 'h_starting_pitcher_name',
    'v_player_1_name', 'v_player_2_name', 'v_player_3_name', 'v_player_4_name',
    'v_player_5_name', 'v_player_6_name', 'v_player_7_name', 'v_player_8_name', 'v_player_9_name',
    'h_player_1_name', 'h_player_2_name', 'h_player_3_name', 'h_player_4_name',
    'h_player_5_name', 'h_player_6_name', 'h_player_7_name', 'h_player_8_name', 'h_player_9_name'
]

# Apply the mapping to each specified column
for col in columns_to_update:
    if col in df3.columns:  # Check if column exists in df3
        df3[col] = df3[col].replace(name_mapping)

In [139]:
# Create mapping dictionaries for batters and pitchers
batter_name_to_id = dict(zip(df1['player_name'], df1['player_id']))
pitcher_name_to_id = dict(zip(df2['player_name'], df2['player_id']))

# List of columns for batters and pitchers
batter_columns = [
    'v_player_1_name', 'v_player_2_name', 'v_player_3_name', 'v_player_4_name', 'v_player_5_name',
    'v_player_6_name', 'v_player_7_name', 'v_player_8_name', 'v_player_9_name',
    'h_player_1_name', 'h_player_2_name', 'h_player_3_name', 'h_player_4_name', 'h_player_5_name',
    'h_player_6_name', 'h_player_7_name', 'h_player_8_name', 'h_player_9_name'
]
pitcher_columns = ['v_starting_pitcher_name', 'h_starting_pitcher_name']

# Replace batter names with IDs, print names that cannot be mapped
for col in batter_columns:
    mapped = df3[col].map(batter_name_to_id)
    missing = df3.loc[mapped.isna(), col].unique()
    for name in missing:
        if name not in batter_name_to_id:
            print(f"Batter name not mapped in column '{col}': {name}")
    # Ensure IDs are int (if possible), else keep original
    df3[col] = mapped.fillna(df3[col]).apply(lambda x: int(x) if isinstance(x, (int, float)) and not pd.isna(x) else x)

# Replace pitcher names with IDs, print names that cannot be mapped
for col in pitcher_columns:
    mapped = df3[col].map(pitcher_name_to_id)
    missing = df3.loc[mapped.isna(), col].unique()
    for name in missing:
        if name not in pitcher_name_to_id:
            print(f"Pitcher name not mapped in column '{col}': {name}")
    df3[col] = mapped.fillna(df3[col]).apply(lambda x: int(x) if isinstance(x, (int, float)) and not pd.isna(x) else x)

In [140]:
df3

,h_team_wins,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,v_player_5_name,v_player_6_name,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,1,0,543037,656427,650402,665742,592450,519317,665862,519203,...,0,0,0,0,0,0,0,0,0,0
1,1,0,607074,808967,650402,665742,592450,519317,665862,519203,...,0,0,0,0,0,0,0,0,0,0
2,0,0,621111,657376,660271,605141,518692,606192,571970,669257,...,0,0,1,0,0,0,0,0,0,0
3,1,0,676508,661563,660271,605141,518692,606192,571970,571771,...,0,0,1,0,0,0,0,0,0,0
4,0,0,656427,543037,660271,605141,518692,606192,571970,571771,...,0,0,1,0,0,0,0,0,0,0

In [141]:
df3.to_csv('glws_cleaned.csv', index=False)

In [142]:


df = pd.read_csv('glws_cleaned.csv')
bat_cleaned = pd.read_csv('bat_cleaned.csv')
pitch_cleaned = pd.read_csv('pitch_cleaned.csv')
df

,h_team_wins,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,v_player_5_name,v_player_6_name,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,1,0,543037,656427,650402,665742,592450,519317,665862,519203,...,0,0,0,0,0,0,0,0,0,0
1,1,0,607074,808967,650402,665742,592450,519317,665862,519203,...,0,0,0,0,0,0,0,0,0,0
2,0,0,621111,657376,660271,605141,518692,606192,571970,669257,...,0,0,1,0,0,0,0,0,0,0
3,1,0,676508,661563,660271,605141,518692,606192,571970,571771,...,0,0,1,0,0,0,0,0,0,0
4,0,0,656427,543037,660271,605141,518692,606192,571970,571771,...,0,0,1,0,0,0,0,0,0,0

In [143]:
# Get xwOBA for visiting team
v_player_cols = [f'v_player_{i}_name' for i in range(1, 10)]
df['v_batting_xwoba'] = df[v_player_cols].apply(
    lambda row: bat_cleaned.set_index('player_id').loc[row, 'xwoba'].mean(), axis=1
)

# Get xwOBA for home team
h_player_cols = [f'h_player_{i}_name' for i in range(1, 10)]
df['h_batting_xwoba'] = df[h_player_cols].apply(
    lambda row: bat_cleaned.set_index('player_id').loc[row, 'xwoba'].mean(), axis=1
)

# Calculate team averages for additional batting stats
bat_stats = ['k_percent', 'bb_percent', 'barrels_per_pa_percent', 'hardhit_percent', 'launch_speed', 'bat_speed']

for stat in bat_stats:
    # Visiting team
    df[f'v_batting_{stat}'] = df[v_player_cols].apply(
        lambda row: bat_cleaned.set_index('player_id').loc[row, stat].mean(), axis=1
    )
    # Home team
    df[f'h_batting_{stat}'] = df[h_player_cols].apply(
        lambda row: bat_cleaned.set_index('player_id').loc[row, stat].mean(), axis=1
    )

In [144]:
# Get xwOBA for visiting starting pitcher
df['v_pitching_xwoba'] = df['v_starting_pitcher_name'].apply(
    lambda pid: pitch_cleaned.set_index('player_id').loc[pid, 'xwoba']
)
# Get xwOBA for home starting pitcher
df['h_pitching_xwoba'] = df['h_starting_pitcher_name'].apply(
    lambda pid: pitch_cleaned.set_index('player_id').loc[pid, 'xwoba']
)

# Pitching stats to aggregate
pitch_stats = [
    'k_percent', 'bb_percent', 'hardhit_percent',
    'barrels_per_bbe_percent', 'velocity', 'spin_rate', 'swing_miss_percent'
]

for stat in pitch_stats:
    df[f'v_pitching_{stat}'] = df['v_starting_pitcher_name'].apply(
        lambda pid: pitch_cleaned.set_index('player_id').loc[pid, stat]
    )
    df[f'h_pitching_{stat}'] = df['h_starting_pitcher_name'].apply(
        lambda pid: pitch_cleaned.set_index('player_id').loc[pid, stat]
    )

In [145]:
cols_to_round = [
    'v_batting_xwoba', 'h_batting_xwoba',
    'v_batting_k_percent', 'h_batting_k_percent',
    'v_batting_bb_percent', 'h_batting_bb_percent',
    'v_batting_barrels_per_pa_percent', 'h_batting_barrels_per_pa_percent',
    'v_batting_hardhit_percent', 'h_batting_hardhit_percent',
    'v_batting_launch_speed', 'h_batting_launch_speed',
    'v_batting_bat_speed', 'h_batting_bat_speed',
    'v_pitching_xwoba', 'h_pitching_xwoba',
    'v_pitching_k_percent', 'h_pitching_k_percent',
    'v_pitching_bb_percent', 'h_pitching_bb_percent',
    'v_pitching_hardhit_percent', 'h_pitching_hardhit_percent',
    'v_pitching_barrels_per_bbe_percent', 'h_pitching_barrels_per_bbe_percent',
    'v_pitching_velocity', 'h_pitching_velocity',
    'v_pitching_spin_rate', 'h_pitching_spin_rate',
    'v_pitching_swing_miss_percent', 'h_pitching_swing_miss_percent'
]
df[cols_to_round] = df[cols_to_round].round(4)

In [146]:
df

,h_team_wins,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,v_player_5_name,v_player_6_name,...,v_pitching_hardhit_percent,h_pitching_hardhit_percent,v_pitching_barrels_per_bbe_percent,h_pitching_barrels_per_bbe_percent,v_pitching_velocity,h_pitching_velocity,v_pitching_spin_rate,h_pitching_spin_rate,v_pitching_swing_miss_percent,h_pitching_swing_miss_percent
0,1,0,543037,656427,650402,665742,592450,519317,665862,519203,...,39.4531,34.8668,7.4219,7.7482,91.2,87.1,2444,2336,24.8,32.1
1,1,0,607074,808967,650402,665742,592450,519317,665862,519203,...,40.9283,41.2500,10.9705,8.3333,90.6,89.6,2378,2116,30.1,27.0
2,0,0,621111,657376,660271,605141,518692,606192,571970,669257,...,37.8049,38.0090,6.9106,5.8824,89.5,89.4,2342,2820,19.4,29.4
3,1,0,676508,661563,660271,605141,518692,606192,571970,571771,...,38.0952,37.3684,4.7619,9.4737,89.5,93.0,2712,2275,34.7,29.0
4,0,0,656427,543037,660271,605141,518692,606192,571970,571771,...,34.8668,39.4531,7.7482,7.4219,87.1,91.2,2336,2444,32.1,24.8

In [147]:
df = df.drop(columns=[col for col in df.columns if 'name' in col])
df

,h_team_wins,day_night,LAN,SDN,COL,ARI,WAS,CIN,SLN,PIT,...,v_pitching_hardhit_percent,h_pitching_hardhit_percent,v_pitching_barrels_per_bbe_percent,h_pitching_barrels_per_bbe_percent,v_pitching_velocity,h_pitching_velocity,v_pitching_spin_rate,h_pitching_spin_rate,v_pitching_swing_miss_percent,h_pitching_swing_miss_percent
0,1,0,1,0,0,0,0,0,0,0,...,39.4531,34.8668,7.4219,7.7482,91.2,87.1,2444,2336,24.8,32.1
1,1,0,1,0,0,0,0,0,0,0,...,40.9283,41.2500,10.9705,8.3333,90.6,89.6,2378,2116,30.1,27.0
2,0,0,-1,0,0,0,0,0,0,0,...,37.8049,38.0090,6.9106,5.8824,89.5,89.4,2342,2820,19.4,29.4
3,1,0,-1,0,0,0,0,0,0,0,...,38.0952,37.3684,4.7619,9.4737,89.5,93.0,2712,2275,34.7,29.0
4,0,0,-1,0,0,0,0,0,0,0,...,34.8668,39.4531,7.7482,7.4219,87.1,91.2,2336,2444,32.1,24.8

In [148]:
df.to_csv('glws_cleaned.csv', index=False)