In [198]:
import pandas as pd

df = pd.read_csv('MLB2024.csv')
df

,date,game_num,day_of_week,v_team,v_league,v_game_num,h_team,h_league,h_game_num,v_score,...,h_player_7_name,h_player_7_pos,h_player_8_id,h_player_8_name,h_player_8_pos,h_player_9_id,h_player_9_name,h_player_9_pos,additional_info,acquisition_info
0,20240320,0,Wed,LAN,NL,1,SDN,NL,1,5,...,Luis Campusano,2,wadet002,Tyler Wade,5,merrj002,Jackson Merrill,8,NaN,Y
1,20240321,0,Thu,SDN,NL,2,LAN,NL,2,15,...,James Outman,8,heywj001,Jason Heyward,9,lux-g001,Gavin Lux,4,NaN,Y
2,20240328,0,Thu,COL,NL,1,ARI,NL,1,1,...,Blaze Alexander,10,thoma004,Alek Thomas,8,perdg001,Gerardo Perdomo,6,NaN,Y
3,20240328,0,Thu,WAS,NL,1,CIN,NL,1,2,...,Spencer Steer,7,martn003,Nick Martini,10,stept001,Tyler Stephenson,2,NaN,Y
4,20240328,0,Thu,SLN,NL,1,LAN,NL,3,1,...,James Outman,8,heywj001,Jason Heyward,9,lux-g001,Gavin Lux,4,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,20240929,0,Sun,PIT,NL,162,NYA,AL,162,4,...,Anthony Volpe,6,riceb001,Ben Rice,3,trevj001,Jose Trevino,2,NaN,Y
2425,20240929,0,Sun,OAK,AL,162,SEA,AL,162,4,...,Jorge Polanco,4,crawj002,J.P. Crawford,6,rojaj001,Josh Rojas,5,NaN,Y
2426,20240929,0,Sun,MIA,NL,162,TOR,AL,162,3,...,Steward Berroa,9,lopej008,Joey Loperfido,7,heint001,Tyler Heineman,2,NaN,Y
2427,20240930,1,Mon,NYN,NL,161,ATL,NL,161,8,...,Travis d'Arnaud,2,urshg001,Giovanny Urshela,5,arcio002,Orlando Arcia,6,NaN,Y
2428,20240930,2,Mon,NYN,NL,162,ATL,NL,162,0,...,Giovanny Urshela,5,murps001,Sean Murphy,2,arcio002,Orlando Arcia,6,NaN,Y

In [199]:

df['h_team_wins'] = (df['h_score'] > df['v_score']).astype(int)
df.head()

,date,game_num,day_of_week,v_team,v_league,v_game_num,h_team,h_league,h_game_num,v_score,...,h_player_7_pos,h_player_8_id,h_player_8_name,h_player_8_pos,h_player_9_id,h_player_9_name,h_player_9_pos,additional_info,acquisition_info,h_team_wins
0,20240320,0,Wed,LAN,NL,1,SDN,NL,1,5,...,2,wadet002,Tyler Wade,5,merrj002,Jackson Merrill,8,NaN,Y,0
1,20240321,0,Thu,SDN,NL,2,LAN,NL,2,15,...,8,heywj001,Jason Heyward,9,lux-g001,Gavin Lux,4,NaN,Y,0
2,20240328,0,Thu,COL,NL,1,ARI,NL,1,1,...,10,thoma004,Alek Thomas,8,perdg001,Gerardo Perdomo,6,NaN,Y,1
3,20240328,0,Thu,WAS,NL,1,CIN,NL,1,2,...,7,martn003,Nick Martini,10,stept001,Tyler Stephenson,2,NaN,Y,1
4,20240328,0,Thu,SLN,NL,1,LAN,NL,3,1,...,8,heywj001,Jason Heyward,9,lux-g001,Gavin Lux,4,NaN,Y,1

In [200]:
columns_to_drop = [
    'date', 'game_num','completion_info','forfeit_info','protest_info', 'day_of_week', 'attendance', 
    'additional_info', 'h_score', 'v_score','length_in_outs','time_of_game_min','v_line_score', 'h_line_score',
    'v_manager_id',	'v_manager_name','h_manager_id','h_manager_name',
    'hp_umpire_id', 'hp_umpire_name',
    '1b_umpire_id', '1b_umpire_name',
    '2b_umpire_id', '2b_umpire_name',
    '3b_umpire_id', '3b_umpire_name',
    'lf_umpire_id', 'lf_umpire_name',
    'rf_umpire_id', 'rf_umpire_name',
    'winning_pitcher_id', 'winning_pitcher_name',
    'losing_pitcher_id', 'losing_pitcher_name',
    'saving_pitcher_id', 'saving_pitcher_name',
    'v_at_bats','v_hits','v_doubles','v_triples','v_homeruns','v_rbi','v_sacrifice_hits','v_sacrifice_flies',
    'v_hit_by_pitch','v_walks','v_intentional_walks','v_strikeouts','v_stolen_bases','v_caught_stealing',
    'v_grounded_into_dp','v_catcher_interference','v_left_on_base','v_pitchers_used','v_individual_earned_runs',
    'v_team_earned_runs','v_wild_pitches','v_balks','v_putouts','v_assists','v_errors','v_passed_balls',
    'v_double_plays','v_triple_plays','h_at_bats','h_hits','h_doubles','h_triples','h_homeruns','h_rbi',
    'h_sacrifice_hits','h_sacrifice_flies','h_hit_by_pitch','h_walks','h_intentional_walks','h_strikeouts',
    'h_stolen_bases','h_caught_stealing','h_grounded_into_dp','h_catcher_interference','h_left_on_base',
    'h_pitchers_used','h_individual_earned_runs','h_team_earned_runs','h_wild_pitches','h_balks','h_putouts',
    'h_assists','h_errors','h_passed_balls','h_double_plays','h_triple_plays', 'gwrbi_batter_id','gwrbi_batter_name','acquisition_info'
]

df = df.drop(columns=columns_to_drop)

df.head()

,v_team,v_league,v_game_num,h_team,h_league,h_game_num,day_night,park_id,v_starting_pitcher_id,v_starting_pitcher_name,...,h_player_7_id,h_player_7_name,h_player_7_pos,h_player_8_id,h_player_8_name,h_player_8_pos,h_player_9_id,h_player_9_name,h_player_9_pos,h_team_wins
0,LAN,NL,1,SDN,NL,1,N,SEO01,glast001,Tyler Glasnow,...,campl002,Luis Campusano,2,wadet002,Tyler Wade,5,merrj002,Jackson Merrill,8,0
1,SDN,NL,2,LAN,NL,2,N,SEO01,musgj001,Joe Musgrove,...,outmj002,James Outman,8,heywj001,Jason Heyward,9,lux-g001,Gavin Lux,4,0
2,COL,NL,1,ARI,NL,1,N,PHO01,freek001,Kyle Freeland,...,alexb001,Blaze Alexander,10,thoma004,Alek Thomas,8,perdg001,Gerardo Perdomo,6,1
3,WAS,NL,1,CIN,NL,1,D,CIN09,grayj004,Josiah Gray,...,stees001,Spencer Steer,7,martn003,Nick Martini,10,stept001,Tyler Stephenson,2,1
4,SLN,NL,1,LAN,NL,3,D,LOS03,mikom001,Miles Mikolas,...,outmj002,James Outman,8,heywj001,Jason Heyward,9,lux-g001,Gavin Lux,4,1

In [201]:
# Remove all columns from df where the column name contains 'id' except for 'park_id' and list them out
cols_with_id = [col for col in df.columns if 'id' in col and col != 'park_id']
print("Columns removed:", cols_with_id)
df = df.drop(columns=cols_with_id)
df.head()

Columns removed: ['v_starting_pitcher_id', 'h_starting_pitcher_id', 'v_player_1_id', 'v_player_2_id', 'v_player_3_id', 'v_player_4_id', 'v_player_5_id', 'v_player_6_id', 'v_player_7_id', 'v_player_8_id', 'v_player_9_id', 'h_player_1_id', 'h_player_2_id', 'h_player_3_id', 'h_player_4_id', 'h_player_5_id', 'h_player_6_id', 'h_player_7_id', 'h_player_8_id', 'h_player_9_id']

,v_team,v_league,v_game_num,h_team,h_league,h_game_num,day_night,park_id,v_starting_pitcher_name,h_starting_pitcher_name,...,h_player_5_pos,h_player_6_name,h_player_6_pos,h_player_7_name,h_player_7_pos,h_player_8_name,h_player_8_pos,h_player_9_name,h_player_9_pos,h_team_wins
0,LAN,NL,1,SDN,NL,1,N,SEO01,Tyler Glasnow,Yu Darvish,...,6,Jurickson Profar,7,Luis Campusano,2,Tyler Wade,5,Jackson Merrill,8,0
1,SDN,NL,2,LAN,NL,2,N,SEO01,Joe Musgrove,Yoshinobu Yamamoto,...,5,Teoscar Hernandez,7,James Outman,8,Jason Heyward,9,Gavin Lux,4,0
2,COL,NL,1,ARI,NL,1,N,PHO01,Kyle Freeland,Zac Gallen,...,2,Eugenio Suarez,5,Blaze Alexander,10,Alek Thomas,8,Gerardo Perdomo,6,1
3,WAS,NL,1,CIN,NL,1,D,CIN09,Josiah Gray,Frankie Montas,...,9,Elly De La Cruz,6,Spencer Steer,7,Nick Martini,10,Tyler Stephenson,2,1
4,SLN,NL,1,LAN,NL,3,D,LOS03,Miles Mikolas,Tyler Glasnow,...,5,Teoscar Hernandez,7,James Outman,8,Jason Heyward,9,Gavin Lux,4,1

In [202]:
# Remove all columns from df whose names contain 'pos'
df = df.loc[:, ~df.columns.str.contains('pos')]
df.head()

,v_team,v_league,v_game_num,h_team,h_league,h_game_num,day_night,park_id,v_starting_pitcher_name,h_starting_pitcher_name,...,h_player_1_name,h_player_2_name,h_player_3_name,h_player_4_name,h_player_5_name,h_player_6_name,h_player_7_name,h_player_8_name,h_player_9_name,h_team_wins
0,LAN,NL,1,SDN,NL,1,N,SEO01,Tyler Glasnow,Yu Darvish,...,Xander Bogaerts,Fernando Tatis,Jake Cronenworth,Manny Machado,Ha-Seong Kim,Jurickson Profar,Luis Campusano,Tyler Wade,Jackson Merrill,0
1,SDN,NL,2,LAN,NL,2,N,SEO01,Joe Musgrove,Yoshinobu Yamamoto,...,Mookie Betts,Shohei Ohtani,Freddie Freeman,Will Smith,Max Muncy,Teoscar Hernandez,James Outman,Jason Heyward,Gavin Lux,0
2,COL,NL,1,ARI,NL,1,N,PHO01,Kyle Freeland,Zac Gallen,...,Ketel Marte,Corbin Carroll,Lourdes Gurriel,Christian Walker,Gabriel Moreno,Eugenio Suarez,Blaze Alexander,Alek Thomas,Gerardo Perdomo,1
3,WAS,NL,1,CIN,NL,1,D,CIN09,Josiah Gray,Frankie Montas,...,Jonathan India,Will Benson,Christian Encarnacion-Strand,Jeimer Candelario,Jake Fraley,Elly De La Cruz,Spencer Steer,Nick Martini,Tyler Stephenson,1
4,SLN,NL,1,LAN,NL,3,D,LOS03,Miles Mikolas,Tyler Glasnow,...,Mookie Betts,Shohei Ohtani,Freddie Freeman,Will Smith,Max Muncy,Teoscar Hernandez,James Outman,Jason Heyward,Gavin Lux,1

In [203]:
# Map 'N' to 0 and 'D' to 1 in the 'day_night' column
df['day_night'] = df['day_night'].map({'N': 0, 'D': 1})
df['day_night'].value_counts()

day_night
0    1498
1     931
Name: count, dtype: int64

In [204]:

df = df.drop(columns=[ 'v_league', 'h_league','v_game_num', 'h_game_num' ])

df.head()

,v_team,h_team,day_night,park_id,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,...,h_player_1_name,h_player_2_name,h_player_3_name,h_player_4_name,h_player_5_name,h_player_6_name,h_player_7_name,h_player_8_name,h_player_9_name,h_team_wins
0,LAN,SDN,0,SEO01,Tyler Glasnow,Yu Darvish,Mookie Betts,Shohei Ohtani,Freddie Freeman,Will Smith,...,Xander Bogaerts,Fernando Tatis,Jake Cronenworth,Manny Machado,Ha-Seong Kim,Jurickson Profar,Luis Campusano,Tyler Wade,Jackson Merrill,0
1,SDN,LAN,0,SEO01,Joe Musgrove,Yoshinobu Yamamoto,Xander Bogaerts,Fernando Tatis,Jake Cronenworth,Manny Machado,...,Mookie Betts,Shohei Ohtani,Freddie Freeman,Will Smith,Max Muncy,Teoscar Hernandez,James Outman,Jason Heyward,Gavin Lux,0
2,COL,ARI,0,PHO01,Kyle Freeland,Zac Gallen,Charlie Blackmon,Kris Bryant,Nolan Jones,Brendan Rodgers,...,Ketel Marte,Corbin Carroll,Lourdes Gurriel,Christian Walker,Gabriel Moreno,Eugenio Suarez,Blaze Alexander,Alek Thomas,Gerardo Perdomo,1
3,WAS,CIN,1,CIN09,Josiah Gray,Frankie Montas,C. J. Abrams,Lane Thomas,Jesse Winker,Joey Meneses,...,Jonathan India,Will Benson,Christian Encarnacion-Strand,Jeimer Candelario,Jake Fraley,Elly De La Cruz,Spencer Steer,Nick Martini,Tyler Stephenson,1
4,SLN,LAN,1,LOS03,Miles Mikolas,Tyler Glasnow,Brendan Donovan,Paul Goldschmidt,Nolan Gorman,Nolan Arenado,...,Mookie Betts,Shohei Ohtani,Freddie Freeman,Will Smith,Max Muncy,Teoscar Hernandez,James Outman,Jason Heyward,Gavin Lux,1

In [205]:
teams = ['LAN','SDN','COL','ARI','WAS','CIN','SLN','PIT','MIA','SFN','ANA','BAL','DET','CHA','NYA','HOU','MIN','KCA','CLE','OAK','BOS','SEA','TOR','TBA','CHN','TEX','MIL','NYN','ATL','PHI']
team_to_num = {team: idx for idx, team in enumerate(teams)}
team_id_df = pd.DataFrame(list(team_to_num.items()), columns=['Team', 'ID'])
display(team_id_df)

   Team  ID
0   LAN   0
1   SDN   1
2   COL   2
3   ARI   3
4   WAS   4
5   CIN   5
6   SLN   6
7   PIT   7
8   MIA   8
9   SFN   9
10  ANA  10
11  BAL  11
12  DET  12
13  CHA  13
14  NYA  14
15  HOU  15
16  MIN  16
17  KCA  17
18  CLE  18
19  OAK  19
20  BOS  20
21  SEA  21
22  TOR  22
23  TBA  23
24  CHN  24
25  TEX  25
26  MIL  26
27  NYN  27
28  ATL  28
29  PHI  29

In [206]:
# Create one-hot encoded columns for each team using team_id_df
one_hot = pd.DataFrame(0, index=df.index, columns=team_id_df['Team'])

for _, row in team_id_df.iterrows():
    team = row['Team']
    team_id = row['ID']
    one_hot.loc[df['v_team'] == team, team] = -1
    one_hot.loc[df['h_team'] == team, team] = 1

one_hot.head()
df_encoded = pd.concat([df, one_hot], axis=1)

In [207]:
# Add columns for each park in park_to_num (if not already present) and set to 0
park_to_num = {'SEO01': 0, 'PHO01': 1, 'CIN09': 2, 'LOS03': 3, 'MIA02': 4, 'SAN02': 5, 'BAL12': 6, 'CHI12': 7, 'HOU03': 8, 'KAN06': 9, 'OAK01': 10, 'SEA03': 11, 'STP01': 12, 'ARL03': 13, 'NYC20': 14, 'PHI13': 15, 'CHI11': 16, 'WAS11': 17, 'MIL06': 18, 'STL10': 19, 'MIN04': 20, 'ATL03': 21, 'DEN02': 22, 'PIT08': 23, 'SFO03': 24, 'ANA01': 25, 'DET05': 26, 'NYC21': 27, 'CLE08': 28, 'TOR02': 29, 'BOS07': 30, 'MEX02': 31, 'LON01': 32, 'BIR01': 33, 'WIL02': 34}

for park in park_to_num.keys():
    if park not in df_encoded.columns:
        df_encoded[park] = 0

df_encoded.head()

,v_team,h_team,day_night,park_id,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,LAN,SDN,0,SEO01,Tyler Glasnow,Yu Darvish,Mookie Betts,Shohei Ohtani,Freddie Freeman,Will Smith,...,0,0,0,0,0,0,0,0,0,0
1,SDN,LAN,0,SEO01,Joe Musgrove,Yoshinobu Yamamoto,Xander Bogaerts,Fernando Tatis,Jake Cronenworth,Manny Machado,...,0,0,0,0,0,0,0,0,0,0
2,COL,ARI,0,PHO01,Kyle Freeland,Zac Gallen,Charlie Blackmon,Kris Bryant,Nolan Jones,Brendan Rodgers,...,0,0,0,0,0,0,0,0,0,0
3,WAS,CIN,1,CIN09,Josiah Gray,Frankie Montas,C. J. Abrams,Lane Thomas,Jesse Winker,Joey Meneses,...,0,0,0,0,0,0,0,0,0,0
4,SLN,LAN,1,LOS03,Miles Mikolas,Tyler Glasnow,Brendan Donovan,Paul Goldschmidt,Nolan Gorman,Nolan Arenado,...,0,0,0,0,0,0,0,0,0,0

In [208]:
for idx, row in df_encoded.iterrows():
    park = row['park_id']
    if park in df_encoded.columns:
        df_encoded.at[idx, park] = 1

In [209]:
df_encoded.head()

,v_team,h_team,day_night,park_id,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,LAN,SDN,0,SEO01,Tyler Glasnow,Yu Darvish,Mookie Betts,Shohei Ohtani,Freddie Freeman,Will Smith,...,0,0,0,0,0,0,0,0,0,0
1,SDN,LAN,0,SEO01,Joe Musgrove,Yoshinobu Yamamoto,Xander Bogaerts,Fernando Tatis,Jake Cronenworth,Manny Machado,...,0,0,0,0,0,0,0,0,0,0
2,COL,ARI,0,PHO01,Kyle Freeland,Zac Gallen,Charlie Blackmon,Kris Bryant,Nolan Jones,Brendan Rodgers,...,0,0,0,0,0,0,0,0,0,0
3,WAS,CIN,1,CIN09,Josiah Gray,Frankie Montas,C. J. Abrams,Lane Thomas,Jesse Winker,Joey Meneses,...,0,0,0,0,0,0,0,0,0,0
4,SLN,LAN,1,LOS03,Miles Mikolas,Tyler Glasnow,Brendan Donovan,Paul Goldschmidt,Nolan Gorman,Nolan Arenado,...,0,0,0,0,0,0,0,0,0,0

In [210]:
df_encoded = df_encoded.drop(columns=['v_team', 'h_team', 'park_id'])
df_encoded

,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,v_player_5_name,v_player_6_name,v_player_7_name,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,0,Tyler Glasnow,Yu Darvish,Mookie Betts,Shohei Ohtani,Freddie Freeman,Will Smith,Max Muncy,Teoscar Hernandez,James Outman,...,0,0,0,0,0,0,0,0,0,0
1,0,Joe Musgrove,Yoshinobu Yamamoto,Xander Bogaerts,Fernando Tatis,Jake Cronenworth,Manny Machado,Ha-Seong Kim,Jurickson Profar,Luis Campusano,...,0,0,0,0,0,0,0,0,0,0
2,0,Kyle Freeland,Zac Gallen,Charlie Blackmon,Kris Bryant,Nolan Jones,Brendan Rodgers,Ryan McMahon,Elias Diaz,Ezequiel Tovar,...,0,0,0,0,0,0,0,0,0,0
3,1,Josiah Gray,Frankie Montas,C. J. Abrams,Lane Thomas,Jesse Winker,Joey Meneses,Joey Gallo,Keibert Ruiz,Eddie Rosario,...,0,0,0,0,0,0,0,0,0,0
4,1,Miles Mikolas,Tyler Glasnow,Brendan Donovan,Paul Goldschmidt,Nolan Gorman,Nolan Arenado,Willson Contreras,Alec Burleson,Jordan Walker,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,1,Bailey Falter,Clarke Schmidt,Nick Gonzales,Bryan Reynolds,Oneil Cruz,Joey Bart,Josh Palacios,Jared Triolo,Nick Yorke,...,0,0,1,0,0,0,0,0,0,0
2425,1,Mitch Spence,Logan Gilbert,JJ Bleday,Brent Rooker,Tyler Soderstrom,Seth Brown,Zack Gelof,Tyler Nevin,Kyle McCann,...,0,0,0,0,0,0,0,0,0,0
2426,1,Ryan Weathers,Ryan Burr,Jake Burger,Xavier Edwards,Connor Norby,Jonah Bride,Jesus Sanchez,Dane Myers,Otto Lopez,...,0,0,0,0,1,0,0,0,0,0
2427,1,Tylor Megill,Spencer Schwellenbach,Francisco Lindor,Jose Iglesias,Mark Vientos,Brandon Nimmo,Pete Alonso,J.D. Martinez,Tyrone Taylor,...,0,0,0,0,0,0,0,0,0,0
2428,1,Joey Lucchesi,Grant Holmes,Luisangel Acuna,Jose Iglesias,Brandon Nimmo,Pete Alonso,Starling Marte,Tyrone Taylor,Harrison Bader,...,0,0,0,0,0,0,0,0,0,0

In [211]:

df = df_encoded

In [212]:
df = df[['h_team_wins'] + [col for col in df.columns if col != 'h_team_wins']]
df.head()

,h_team_wins,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,v_player_5_name,v_player_6_name,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,0,0,Tyler Glasnow,Yu Darvish,Mookie Betts,Shohei Ohtani,Freddie Freeman,Will Smith,Max Muncy,Teoscar Hernandez,...,0,0,0,0,0,0,0,0,0,0
1,0,0,Joe Musgrove,Yoshinobu Yamamoto,Xander Bogaerts,Fernando Tatis,Jake Cronenworth,Manny Machado,Ha-Seong Kim,Jurickson Profar,...,0,0,0,0,0,0,0,0,0,0
2,1,0,Kyle Freeland,Zac Gallen,Charlie Blackmon,Kris Bryant,Nolan Jones,Brendan Rodgers,Ryan McMahon,Elias Diaz,...,0,0,0,0,0,0,0,0,0,0
3,1,1,Josiah Gray,Frankie Montas,C. J. Abrams,Lane Thomas,Jesse Winker,Joey Meneses,Joey Gallo,Keibert Ruiz,...,0,0,0,0,0,0,0,0,0,0
4,1,1,Miles Mikolas,Tyler Glasnow,Brendan Donovan,Paul Goldschmidt,Nolan Gorman,Nolan Arenado,Willson Contreras,Alec Burleson,...,0,0,0,0,0,0,0,0,0,0

In [213]:
df.to_csv('MLB2024_cleaned.csv', index=False)

In [214]:
import pandas as pd

df1 = pd.read_csv('bat_cleaned.csv')
df2 = pd.read_csv('pitch_cleaned.csv')
df3 = pd.read_csv('MLB2024_cleaned.csv')

In [215]:
import unicodedata

def normalize_name(name):
    # Remove 'Jr.', strip, and reverse if comma present
    name = ' '.join(name.replace('Jr.', '').strip().split(', ')[::-1]).strip()
    # Normalize unicode to closest ASCII
    name = unicodedata.normalize('NFKD', name).encode('ascii', 'ignore').decode('utf-8')
    return name

df1['player_name'] = df1['player_name'].apply(normalize_name)
df2['player_name'] = df2['player_name'].apply(normalize_name)

df1

,player_id,player_name,xwoba,k_percent,bb_percent,barrels_per_pa_percent,hardhit_percent,launch_speed,bat_speed
0,665742,Juan Soto,0.463,16.6,17.9,12.816901,56.832972,93.5,72.9
1,683002,Gunnar Henderson,0.373,22.2,10.5,7.402235,53.894737,92.8,74.7
2,592450,Aaron Judge,0.479,25.0,16.5,15.350877,61.025641,96.2,75.7
3,680776,Jarren Duran,0.338,21.8,7.2,6.539510,43.883495,90.2,71.8
4,650402,Gleyber Torres,0.307,20.5,9.8,4.360902,35.357918,88.2,68.4
...,...,...,...,...,...,...,...,...,...
683,676946,Matthew Batten,0.255,0.0,0.0,0.000000,33.333333,85.6,68.4
684,670869,Livan Soto,0.009,33.3,0.0,0.000000,50.000000,90.2,68.0
685,687066,Eric Yang,0.000,100.0,0.0,0.000000,NaN,NaN,65.6
686,676896,Chris Roller,0.000,100.0,0.0,0.000000,NaN,NaN,67.5
687,543518,Scott McGough,0.000,100.0,0.0,0.000000,NaN,NaN,56.7

In [216]:
# Define the mapping dictionary for name transformations
name_mapping = {
    'C. J. Abrams': 'CJ Abrams',
    'Michael Harris': 'Michael Harris II',
    'Josh Palacios': 'Joshua Palacios',
    'Gerardo Perdomo': 'Geraldo Perdomo',
    'Giovanny Urshela': 'Gio Urshela',
    'Yulieski Gurriel': 'Yuli Gurriel',
    'Michael Taylor': 'Michael A. Taylor',
    'Victor Scott': 'Victor Scott II',
    'Mike Siani': 'Michael Siani',
    'J. P. Martinez': 'J.D. Martinez',
    'Louie Varland': 'Louis Varland',
    'Mike Soroka': 'Michael Soroka',
    'J. P. France': 'J.P. France',
    'Daniel Lynch': 'Daniel Lynch IV',
    'Luis Ortiz': 'Luis F. Ortiz',
    'Matt Boyd': 'Matthew Boyd',
    'J. T. Ginn': 'J.T. Ginn',
    'Darren Scott McCaughan': 'Darren McCaughan',
    'Jake Junis': 'Jakob Junis'
}

# List of columns to update
columns_to_update = [
    'v_starting_pitcher_name', 'h_starting_pitcher_name',
    'v_player_1_name', 'v_player_2_name', 'v_player_3_name', 'v_player_4_name',
    'v_player_5_name', 'v_player_6_name', 'v_player_7_name', 'v_player_8_name', 'v_player_9_name',
    'h_player_1_name', 'h_player_2_name', 'h_player_3_name', 'h_player_4_name',
    'h_player_5_name', 'h_player_6_name', 'h_player_7_name', 'h_player_8_name', 'h_player_9_name'
]

# Apply the mapping to each specified column
for col in columns_to_update:
    if col in df3.columns:  # Check if column exists in df3
        df3[col] = df3[col].replace(name_mapping)

In [217]:
# Create mapping dictionaries for batters and pitchers
batter_name_to_id = dict(zip(df1['player_name'], df1['player_id']))
pitcher_name_to_id = dict(zip(df2['player_name'], df2['player_id']))

# List of columns for batters and pitchers
batter_columns = [
    'v_player_1_name', 'v_player_2_name', 'v_player_3_name', 'v_player_4_name', 'v_player_5_name',
    'v_player_6_name', 'v_player_7_name', 'v_player_8_name', 'v_player_9_name',
    'h_player_1_name', 'h_player_2_name', 'h_player_3_name', 'h_player_4_name', 'h_player_5_name',
    'h_player_6_name', 'h_player_7_name', 'h_player_8_name', 'h_player_9_name'
]
pitcher_columns = ['v_starting_pitcher_name', 'h_starting_pitcher_name']

# Replace batter names with IDs
for col in batter_columns:
    df3[col] = df3[col].map(batter_name_to_id).fillna(df3[col])\
    # Ensure IDs are int (if possible), else keep original
    df3[col] = df3[col].apply(lambda x: batter_name_to_id[x] if x in batter_name_to_id else x)
    df3[col] = df3[col].apply(lambda x: int(x) if isinstance(x, (int, float)) and not pd.isna(x) else x)

# Replace pitcher names with IDs
for col in pitcher_columns:
    df3[col] = df3[col].map(pitcher_name_to_id).fillna(df3[col])
    # Ensure IDs are int (if possible), else keep original
    df3[col] = df3[col].map(pitcher_name_to_id).fillna(df3[col])
    df3[col] = df3[col].apply(lambda x: pitcher_name_to_id[x] if x in pitcher_name_to_id else x)
    df3[col] = df3[col].apply(lambda x: int(x) if isinstance(x, (int, float)) and not pd.isna(x) else x)

# Find the exact string values that are still present (not mapped to IDs) in batter columns
unmapped_batter_names = {}
for col in batter_columns:
    unmapped = df3.loc[df3[col].apply(lambda x: isinstance(x, str)), col].unique()
    if len(unmapped) > 0:
        unmapped_batter_names[col] = unmapped.tolist()
unmapped_batter_names

{}

In [218]:
df3

,h_team_wins,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,v_player_5_name,v_player_6_name,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,0,0,607192,506433,605141,660271,518692,669257,571970,606192,...,0,0,0,0,0,0,0,0,0,0
1,0,0,605397,808967,593428,665487,630105,592518,673490,595777,...,0,0,0,0,0,0,0,0,0,0
2,1,0,607536,668678,453568,592178,666134,663898,641857,553869,...,0,0,0,0,0,0,0,0,0,0
3,1,1,680686,593423,682928,657041,608385,608841,608336,660688,...,0,0,0,0,0,0,0,0,0,0
4,1,1,571945,607192,680977,502671,669357,571448,575929,676475,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,1,1,663559,657376,693304,668804,665833,663698,641943,669707,...,0,0,1,0,0,0,0,0,0,0
2425,1,1,687765,669302,668709,667670,691016,664913,680869,663527,...,0,0,0,0,0,0,0,0,0,0
2426,0,1,677960,621114,669394,669364,681393,681146,660821,667472,...,0,0,0,0,1,0,0,0,0,0
2427,0,1,656731,680885,596019,578428,668901,607043,624413,502110,...,0,0,0,0,0,0,0,0,0,0
2428,1,1,664192,656550,682668,578428,607043,624413,516782,621438,...,0,0,0,0,0,0,0,0,0,0

In [219]:
df3.to_csv('MLB2024_cleaned.csv', index=False)

In [220]:
import pandas as pd

df = pd.read_csv('MLB2024_cleaned.csv')
bat_cleaned = pd.read_csv('bat_cleaned.csv')
pitch_cleaned = pd.read_csv('pitch_cleaned.csv')
df

,h_team_wins,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,v_player_5_name,v_player_6_name,...,ANA01,DET05,NYC21,CLE08,TOR02,BOS07,MEX02,LON01,BIR01,WIL02
0,0,0,607192,506433,605141,660271,518692,669257,571970,606192,...,0,0,0,0,0,0,0,0,0,0
1,0,0,605397,808967,593428,665487,630105,592518,673490,595777,...,0,0,0,0,0,0,0,0,0,0
2,1,0,607536,668678,453568,592178,666134,663898,641857,553869,...,0,0,0,0,0,0,0,0,0,0
3,1,1,680686,593423,682928,657041,608385,608841,608336,660688,...,0,0,0,0,0,0,0,0,0,0
4,1,1,571945,607192,680977,502671,669357,571448,575929,676475,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,1,1,663559,657376,693304,668804,665833,663698,641943,669707,...,0,0,1,0,0,0,0,0,0,0
2425,1,1,687765,669302,668709,667670,691016,664913,680869,663527,...,0,0,0,0,0,0,0,0,0,0
2426,0,1,677960,621114,669394,669364,681393,681146,660821,667472,...,0,0,0,0,1,0,0,0,0,0
2427,0,1,656731,680885,596019,578428,668901,607043,624413,502110,...,0,0,0,0,0,0,0,0,0,0
2428,1,1,664192,656550,682668,578428,607043,624413,516782,621438,...,0,0,0,0,0,0,0,0,0,0

In [221]:
# Get xwOBA for visiting team
v_player_cols = [f'v_player_{i}_name' for i in range(1, 10)]
df['v_batting_xwoba'] = df[v_player_cols].apply(
    lambda row: bat_cleaned.set_index('player_id').loc[row, 'xwoba'].mean(), axis=1
)

# Get xwOBA for home team
h_player_cols = [f'h_player_{i}_name' for i in range(1, 10)]
df['h_batting_xwoba'] = df[h_player_cols].apply(
    lambda row: bat_cleaned.set_index('player_id').loc[row, 'xwoba'].mean(), axis=1
)

# Calculate team averages for additional batting stats
bat_stats = ['k_percent', 'bb_percent', 'barrels_per_pa_percent', 'hardhit_percent', 'launch_speed', 'bat_speed']

for stat in bat_stats:
    # Visiting team
    df[f'v_batting_{stat}'] = df[v_player_cols].apply(
        lambda row: bat_cleaned.set_index('player_id').loc[row, stat].mean(), axis=1
    )
    # Home team
    df[f'h_batting_{stat}'] = df[h_player_cols].apply(
        lambda row: bat_cleaned.set_index('player_id').loc[row, stat].mean(), axis=1
    )

In [222]:
# Get xwOBA for visiting starting pitcher
df['v_pitching_xwoba'] = df['v_starting_pitcher_name'].apply(
    lambda pid: pitch_cleaned.set_index('player_id').loc[pid, 'xwoba']
)
# Get xwOBA for home starting pitcher
df['h_pitching_xwoba'] = df['h_starting_pitcher_name'].apply(
    lambda pid: pitch_cleaned.set_index('player_id').loc[pid, 'xwoba']
)

# Pitching stats to aggregate
pitch_stats = [
    'k_percent', 'bb_percent', 'hardhit_percent',
    'barrels_per_bbe_percent', 'velocity', 'spin_rate', 'swing_miss_percent'
]

for stat in pitch_stats:
    df[f'v_pitching_{stat}'] = df['v_starting_pitcher_name'].apply(
        lambda pid: pitch_cleaned.set_index('player_id').loc[pid, stat]
    )
    df[f'h_pitching_{stat}'] = df['h_starting_pitcher_name'].apply(
        lambda pid: pitch_cleaned.set_index('player_id').loc[pid, stat]
    )

In [223]:
cols_to_round = [
    'v_batting_xwoba', 'h_batting_xwoba',
    'v_batting_k_percent', 'h_batting_k_percent',
    'v_batting_bb_percent', 'h_batting_bb_percent',
    'v_batting_barrels_per_pa_percent', 'h_batting_barrels_per_pa_percent',
    'v_batting_hardhit_percent', 'h_batting_hardhit_percent',
    'v_batting_launch_speed', 'h_batting_launch_speed',
    'v_batting_bat_speed', 'h_batting_bat_speed',
    'v_pitching_xwoba', 'h_pitching_xwoba',
    'v_pitching_k_percent', 'h_pitching_k_percent',
    'v_pitching_bb_percent', 'h_pitching_bb_percent',
    'v_pitching_hardhit_percent', 'h_pitching_hardhit_percent',
    'v_pitching_barrels_per_bbe_percent', 'h_pitching_barrels_per_bbe_percent',
    'v_pitching_velocity', 'h_pitching_velocity',
    'v_pitching_spin_rate', 'h_pitching_spin_rate',
    'v_pitching_swing_miss_percent', 'h_pitching_swing_miss_percent'
]
df[cols_to_round] = df[cols_to_round].round(4)

In [224]:
df

,h_team_wins,day_night,v_starting_pitcher_name,h_starting_pitcher_name,v_player_1_name,v_player_2_name,v_player_3_name,v_player_4_name,v_player_5_name,v_player_6_name,...,v_pitching_hardhit_percent,h_pitching_hardhit_percent,v_pitching_barrels_per_bbe_percent,h_pitching_barrels_per_bbe_percent,v_pitching_velocity,h_pitching_velocity,v_pitching_spin_rate,h_pitching_spin_rate,v_pitching_swing_miss_percent,h_pitching_swing_miss_percent
0,0,0,607192,506433,605141,660271,518692,669257,571970,606192,...,40.0631,39.9123,8.5174,7.4561,92.2,87.2,2632,2417,30.9,25.6
1,0,0,605397,808967,593428,665487,630105,592518,673490,595777,...,40.5797,41.2500,10.5072,8.3333,87.1,89.6,2705,2116,28.3,27.0
2,1,0,607536,668678,453568,592178,666134,663898,641857,553869,...,40.7407,41.0319,10.5820,7.3710,88.2,88.5,2248,2238,17.1,26.0
3,1,1,680686,593423,682928,657041,608385,608841,608336,660688,...,50.0000,43.0876,13.3333,9.2166,87.8,91.6,2049,2224,30.6,24.9
4,1,1,571945,607192,680977,502671,669357,571448,575929,676475,...,42.3280,40.0631,8.1129,8.5174,88.2,92.2,2235,2632,16.4,30.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,1,1,663559,657376,693304,668804,665833,663698,641943,669707,...,41.3483,38.0090,8.9888,5.8824,88.4,89.4,1981,2820,19.6,29.4
2425,1,1,687765,669302,668709,667670,691016,664913,680869,663527,...,41.6842,39.2989,8.4211,7.1956,87.5,90.3,2534,1859,22.5,31.7
2426,0,1,677960,621114,669394,669364,681393,681146,660821,667472,...,38.1890,47.5000,8.2677,8.7500,90.4,88.8,2212,2399,26.1,31.9
2427,0,1,656731,680885,596019,578428,668901,607043,624413,502110,...,42.5837,39.8256,10.0478,4.9419,91.1,90.0,2103,2207,28.6,27.4
2428,1,1,664192,656550,682668,578428,607043,624413,516782,621438,...,54.8387,38.4615,9.6774,6.6667,86.2,89.5,2124,2565,12.7,32.4

In [225]:
df = df.drop(columns=[col for col in df.columns if 'name' in col])
df

,h_team_wins,day_night,LAN,SDN,COL,ARI,WAS,CIN,SLN,PIT,...,v_pitching_hardhit_percent,h_pitching_hardhit_percent,v_pitching_barrels_per_bbe_percent,h_pitching_barrels_per_bbe_percent,v_pitching_velocity,h_pitching_velocity,v_pitching_spin_rate,h_pitching_spin_rate,v_pitching_swing_miss_percent,h_pitching_swing_miss_percent
0,0,0,-1,1,0,0,0,0,0,0,...,40.0631,39.9123,8.5174,7.4561,92.2,87.2,2632,2417,30.9,25.6
1,0,0,1,-1,0,0,0,0,0,0,...,40.5797,41.2500,10.5072,8.3333,87.1,89.6,2705,2116,28.3,27.0
2,1,0,0,0,-1,1,0,0,0,0,...,40.7407,41.0319,10.5820,7.3710,88.2,88.5,2248,2238,17.1,26.0
3,1,1,0,0,0,0,-1,1,0,0,...,50.0000,43.0876,13.3333,9.2166,87.8,91.6,2049,2224,30.6,24.9
4,1,1,1,0,0,0,0,0,-1,0,...,42.3280,40.0631,8.1129,8.5174,88.2,92.2,2235,2632,16.4,30.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,1,1,0,0,0,0,0,0,0,-1,...,41.3483,38.0090,8.9888,5.8824,88.4,89.4,1981,2820,19.6,29.4
2425,1,1,0,0,0,0,0,0,0,0,...,41.6842,39.2989,8.4211,7.1956,87.5,90.3,2534,1859,22.5,31.7
2426,0,1,0,0,0,0,0,0,0,0,...,38.1890,47.5000,8.2677,8.7500,90.4,88.8,2212,2399,26.1,31.9
2427,0,1,0,0,0,0,0,0,0,0,...,42.5837,39.8256,10.0478,4.9419,91.1,90.0,2103,2207,28.6,27.4
2428,1,1,0,0,0,0,0,0,0,0,...,54.8387,38.4615,9.6774,6.6667,86.2,89.5,2124,2565,12.7,32.4

In [226]:
#df.to_csv('MLB2024_cleaned_temp.csv', index=False)

In [227]:
df.to_csv('MLB2024_cleaned.csv', index=False)